@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

body {
    font-family: "Montserrat", "san-serif";
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.header h1 {
    font-size: 43px;

    color: #4A99D3;
}

.header div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}


.header_links a {
    text-decoration: none;
    font-size: 18px;
    color: #0F001A;

}

.header a:hover {
    color: blue;
}

.hero_page {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin-top: 100px;

}

.content h1 {
    font-size: 50px;
    color: #260041;
    margin-bottom: 14px;
}

h1 span {
    color: #D81B60;
}

.content p {
    font-weight: 400;
    font-size: 20px;
    line-height: 180%;
    color: #260041;
    margin-bottom: 60px;
}

.socilas {
    display: flex;
    align-items: center;
    gap: 20px;
}

.cards {
    display: flex;
    align-items: center;
    gap: 30px;
    width: 1278px;
    margin: 0 auto;
    flex-wrap: wrap;
    margin-bottom: 90px;
}

.cards_sec_title {

    font-weight: 500;
    font-size: 36px;
    line-height: 128%;
    letter-spacing: 0.05em;
    color: #260041;
    margin-bottom: 80px;

}

.card {
    border-radius: 10px;
    width: 380px;
    height: 525px;
    box-shadow: 5px 20px 50px 0 rgba(74, 153, 211, 0.2);
    background: #fff;
    padding: 48px;
}

.card:hover {
    transform: scale(1.01);
    transition: 0.5s all ease-in-out;
    box-shadow: 14px 20px 10px 0 rgba(74, 153, 211, 0.2);
}

.card_title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #0f001a;
    margin-bottom: 16px;
    margin-top: 56px;
}

.text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    color: #0f001a;
    margin-bottom: 62px;
}

.card_link {
    display: flex;
    align-items: center;
    gap: 15px;
}

.card_link a {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 214%;
    letter-spacing: 0.05em;
    color: #4a99d3;
    text-decoration: none;
}

.card_link:hover {
    text-decoration: underline;

}

.how_itworks_sec {
    background-color: #4a9ad31a;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 40px;
}

.how_itworks_sec h1 {
    color: #4A99D3;
    text-align: center;
    margin-bottom: 40px;
}

.how_items_sec {
    display: flex;
    align-items: center;
    gap: 100px;
    justify-content: center;
}

.how_item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.how_item h3 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    color: #0f001a;
}

.how_item p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    text-align: center;
    color: #0f001a;
}

.our_clients h1 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 26px;
    text-align: center;
    color: #0f001a;
    margin-top: 80px;
    margin-bottom: 100px;
}

.clients_sec {
    display: flex;
    align-items: center;
    gap: 100px;
    justify-content: center;
    margin-bottom: 40px;
}

.clients_right {
    border-radius: 0 6px 6px 0;
    width: 557px;
    height: 400px;
    background: rgba(74, 153, 211, 0.1);
    position: relative;
}

.clients_right img {
    position: absolute;
    bottom: 0;
    left: 58px;
}

.clients_left p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #0f001a;
    width: 400px;
    opacity: 0.5;
    margin-top: 40px;
    margin-bottom: 40px;
}

.clients_left b {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    color: #0f001a;
}